Source: internet-applet
Section: x11
Priority: optional
Maintainer: Michal Krumnikl <michal.krumnikl@vsb.cz>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/MKrumnikl/internet-applet

Package: internet-applet
Architecture: all
Depends: ${misc:Depends}, python3, python3-gi, gir1.2-appindicator3-0.1, iputils-ping
Description: Internet connection status applet
 A simple applet showing the status of the internet connection
 in the notification area of a Linux desktop.

